{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <div class="row mb-lg-5 mx-lg-0 mx-3">
            <div class="col-sm-7 card p-0">
            
                <div class="card-header">
                    {% if message %}
                    
                    <div class="alert">{{message}}</div>
                    
                    {% endif %}
                    SIGN IN
                </div>
            
                <div class="card-body">
                    <form action="/users/login" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="InputEmail">Username</label>
                            {{logform.rusername}}
                            
                            
                        </div>
                        <div class="form-group">
                            <label for="InputPassword">Password</label>
                            
                            {{logform.rpassword}}
                           
                            <br>
                            
                            <a href="#" class="a-text">Forgot Password</a>
                        </div>
                        <div class="form-group form-check">
                            
                            {{logform.rememberme}}
                            <label class="form-check-label" for="id_rememberme">Remember Me!</label>
                        </div>
                        <button class="button button-light" style="height: auto;">SIGN IN</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-5 p-0">
                <div class="card p-0 ml-sm-3">
                    <div class="card-header">
                        CREATE YOUR ACCOUNT
                    </div>
                    <div class="card-body p-0"></div>
                    <form class="p-20" method="post">
                        <div class="form-group">
                        {% csrf_token %}
                            <label for="InputEmail">Email Address</label>
                            {{regform.email}}
                            {% if regform.email.errors %}
                            <div id="email-error" class="invalid-feedback d-block">
                            {{regform.email.errors}}
                            </div>
                            {% endif %}
                            <small id="emailHelp" class="form-text text-muted">Your email will not be shared with third parties.</small>
                        </div>
                        <div class="form-group">
                            <label for="InputUserName">Username</label>
                            {{regform.username}}
                            {% if regform.username.errors %}
                            <div id="username-error" class="invalid-feedback d-block">
                            {{regform.username.errors}}
                            </div>
                            {% endif %}
                            
                        </div>
                        <div class="form-group">
                            <label for="InputPassword">Password</label>
                            {{regform.password}}
                            {% if regform.password.errors %}
                            <div id="password-error" class="invalid-feedback d-block">
                            {{regform.password.errors}}
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="InputPassword">Password Check</label>
                            {{regform.repassword}}
                            {% if regform.password.errors %}
                            <div class="invalid-feedback d-block">
                            {{regform.password.errors}}
                            </div>
                            {% endif %}
                        </div>
                        
                        <button class="button button-light" style="height: auto;">CREATE</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock body %}